<style>
input[type=time]::-webkit-clear-button ,
input[type=date]::-webkit-clear-button {
  -webkit-appearance: none;
}
</style>
<script>
  $(window).on('load', function() {
    var isEdit = false;
    var predata = [];

    function handler(e, id) {
      console.log(e);
    }

    function getDate(date) {
      rawDate = new Date(date);
      var year = rawDate.getFullYear();
      var month = (rawDate.getMonth() + 1);
      var day = rawDate.getDate();
      return year + "-" + ("00"+month).substr(-2) + "-" + ("00"+day).substr(-2);
    }

    function getTime(date) {
      rawDate = new Date(date);
      var hour = rawDate.getHours();
      var minutes = rawDate.getMinutes();
      return ("00"+hour).substr(-2) + ":" + ("00"+minutes).substr(-2);
    }

    function postRecord() {
      var token = $('meta[name="csrf-token"]').attr('content');
      $.ajax({
        async: false,
        type : 'POST',
        url  : '/update',
        contentType: 'application/json',
        headers: { 'X-CSRF-TOKEN': token },
        data : JSON.stringify({"data": predata})
      }).done(function(data, textStatus, jqXHR) {
        console.log("done");
      }).fail(function(jqXHR, textStatus, errorThrown) {
        console.log("fail");
      });
    }

    function addRecord(edit) {
      $.getJSON("/show", null, function(data, status) {
        $("#tbody").empty();
        predata = data;
        for (i in data) {
          var date_text = "";
          var time_text = "";
          if(edit) {
            date_text = '<td><input type="date" value="' + getDate(data[i].datetime) + '" rowid=' + i + '></td>';
            time_text = '<td><input type="time" value="' + getTime(data[i].datetime) + '" rowid=' + i + '></td>';
          } else {
            date_text = '<td>' + getDate(data[i].datetime) + '</td>';
            time_text = '<td>' + getTime(data[i].datetime) + '</td>';
          }
          var s_text = "";
          if(data[i].status == "start") {
            s_text = '<td class="bg-primary text-white">出社</td>';
          } else {
            s_text = '<td class="bg-dark text-white">退社</td>';
          }
          $("#tbody").append("<tr>" + date_text + time_text + s_text + "</tr>");
        }
      });
    }


    function toggleEditState(flag) {
      addRecord(isEdit);

      var o = $("#edit");
      o.empty();
      if(isEdit) {
        isEdit = false;
        o.append("キャンセル");

        $("#alldel").css("visibility", "visible");
        $("#editdone").css("visibility", "visible");
      } else {
        isEdit = true;
        o.append("編集");

        $("#alldel").css("visibility", "hidden");
        $("#editdone").css("visibility", "hidden");
      }
    }

    $('#tbody').on('change', 'input[type="date"]', function() {
      var i = $(this).attr('rowid');
      var orig = new Date(predata[i].datetime);
      var mod = new Date($(this).val());
      orig.setFullYear(mod.getFullYear());
      orig.setMonth(mod.getMonth());
      orig.setDate(mod.getDate());
      predata[i].datetime = orig.toJSON();
    });

    $('#tbody').on('change', 'input[type="time"]', function() {
      var i = $(this).attr('rowid');
      var orig = new Date(predata[i].datetime);
      var mod = new Date("2000-01-01T" + $(this).val() + ":00+09:00");
      orig.setHours(mod.getHours());
      orig.setMinutes(mod.getMinutes());
      predata[i].datetime = orig.toJSON();
    });

    $('#editdone').on('click', function() {
      postRecord();

      toggleEditState(isEdit);
    });

    $('#edit').on('click', function() {
      toggleEditState(isEdit);
    });

    toggleEditState(false);
  });
</script>

<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark" style="height:70px">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" id="edit" href="javascript:void(0);"></a>
    </li>
  </ul>
  <button id="alldel" type="button" class="btn btn-danger ml-auto" data-toggle="modal" data-target="#myModal" style="visibility:hidden">
    全て削除
  </button>
  <button id="editdone" type="button" class="btn btn-outline-success ml-auto" style="visibility:hidden">
    完了
  </button>
</nav>

<div class=container">
  <div class="row">
    <div class="col-md-4">
      <%= form_with scope: :card, url: "start" , method: :post, local: true do |form| %>
        <%= form.hidden_field :status, :value => @worktype %>
        <% if @worktype == "start" %>
          <%= form.submit "出社", :class => "btn btn-primary btn-block " , :style => "font-size: 500%;" %>
        <% else %>
          <%= form.submit "退社", :class => "btn btn-dark btn-block " , :style => "font-size: 500%;" %>
        <% end %>
        </p>
      <% end %>

      <table class="table">
        <thead>
          <th scope="col">月日</th>
          <th scope="col">時刻</td>
          <th scope="col">状況</th>
        </thead>
        <tbody id="tbody">
          <!--
            <td><input type="date" value="2018-01-01" min="2018-01-01" max="2100-12-31"></td>
            <td><input type="time" value="23:59" min="00:00" max="23:59"></td>
          -->
        </tbody>
      </table>

      <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p>本当に削除しますか？</p>
            </div>
            <div class="modal-footer">
              <%= button_to "削除", {action: "delete"}, {:class => "btn btn-danger"} %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">しない</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
